

  <div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Todo App</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Project manager</p>
            <li class="active">
                <a href="/tasks">Home</a>
            </li>

            <li>
                <a href="#tagSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tags</a>
                <ul class="collapse list-unstyled" id="tagSubmenu">
                    <li>
                        <a href="/tasks/search?search=school">School</a>
                    </li>
                    <li>
                        <a href="/tasks/search?search=work">Work</a>
                    </li>
                    <li>
                        <a href="/tasks/search?search=personal">Personal</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#prioSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Priorities</a>
                <ul class="collapse list-unstyled" id="prioSubmenu">
                    <li>
                        <a href="/tasks/search?search=high">High</a>
                    </li>
                    <li>
                        <a href="/tasks/search?search=medium">Medium</a>
                    </li>
                    <li>
                        <a href="/tasks/search?search=low">Low</a>
                    </li>
                </ul>
            </li>
            <li>


            <li class="active">
                <a href="/login">Logout</a>
            </li>

        </ul>

    </nav>
