

  <div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Todo App</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Project manager</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Account</a>
            </li>
            <li>
                <a href="#tagSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Tags</a>
                <ul class="collapse list-unstyled" id="tagSubmenu">
                    <li>
                        <a href="#">Tag 1</a>
                    </li>
                    <li>
                        <a href="#">Tag 2</a>
                    </li>
                    <li>
                        <a href="#">Tag 3</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#prioSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Priorities</a>
                <ul class="collapse list-unstyled" id="prioSubmenu">
                    <li>
                        <a href="#">User-defined 1</a>
                    </li>
                    <li>
                        <a href="#">User-defined 2</a>
                    </li>
                    <li>
                        <a href="#">User-defined 3</a>
                    </li>
                </ul>
            </li>
            <li>

        </ul>

    </nav>
