<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <%- include('../partials/head') -%>
  </head>

  <body class="">
    <header>
      <%- include('../partials/index/header') -%>
    </header>


  <!-- Start of sidebar -->
  <%- include('../partials/index/sidebar') -%>
  <!-- End of sidebar -->


    <!-- Task area -->

    <div class="container" id="task-box">
      <h1>Todo Tasks</h1>

      <div id="task-menu">
        <nav id="task-nav" class="navbar navbar-expand-lg navbar-light bg-dark pull-right">
            <form id="task-form-nav"class="form-inline ">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal">Add Task</button>
              <a href="#">
                <span class="glyphicon glyphicon-triangle-bottom"></span>
              </a>

            </form>
          </nav>
        </div>

      <%- include('../partials/index/modal') -%>

      <!-- Holds all tasks -->
      <div class="task-cards">

        <div class="card">
          <div class="card-body">
            <p><strong> Finish HW </strong></p>
            <div class="button-group">
                </div>
                <a href="#" class="btn btn-danger a-btn-slide-text">
                   <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <span><strong>Delete</strong></span>
                </a>
                <a href="#" class="btn btn-primary a-btn-slide-text">
                   <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <span><strong>Complete</strong></span>
                </a>
            </div>
        </div>

        <div class="card">
          <div class="card-body">
              <p><strong> Take out trash </strong></p>
              <div class="button-group">
                  </div>
                  <a href="#" class="btn btn-danger a-btn-slide-text">
                     <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      <span><strong>Delete</strong></span>
                  </a>
                  <a href="#" class="btn btn-primary a-btn-slide-text">
                     <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      <span><strong>Complete</strong></span>
                  </a>
              </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
              <p><strong> Pay Rent </strong></p>
              <div class="button-group">
                  </div>
                  <a href="#" class="btn btn-danger a-btn-slide-text">
                     <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      <span><strong>Delete</strong></span>
                  </a>
                  <a href="#" class="btn btn-primary a-btn-slide-text">
                     <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      <span><strong>Complete</strong></span>
                  </a>
              </div>
          </div>
        </div>


      </div>

      <!-- end of task container -->
    </div>
    <!-- End of task content -->


  </body>
</html>
