<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Task App</title>
  <link rel="stylesheet" href="/css/index.css">
    </head>
  <body>
      <h1>Welcome Todo list</h1>

      <div class="left-nav">
        <ul>
          <li>Inbox</li>

          <div class="Projects">
               <!-- Add build for hastags -->
          </div>

        </ul>
      </div>
      <div class="tasks">
          <ul>
            <!-- This will be an ejs template -->
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
          </ul>
      </div>
  </body>
</html>
