
/* Task conatiner */

#task-box{
    margin-left: 25%;
    width: 90%;
  }
  
  #task-menu nav{
    /* background-color: rgba(107,121,142, 0.3); */
  
    width: auto;
    height: 70%;
    margin-bottom: 3%;
    margin-top: 2%;
    border-color: black;
  
  }
  
  .task-rows td{
      padding-top: 2%;
  }
  
  
  /* end of task container */
  
  /* individual tasks */
  div.task-cards p{
    color: black;
  }
  div.card :hover{
    background-color: #d8d8d8;
  }
  
  div.form-check {
    align-content: left;
  }
  
  
  a.btn:hover {
       -webkit-transform: scale(.8);
       -moz-transform: scale(.8);
       -o-transform: scale(.8);
   }
   a.btn {
       -webkit-transform: scale(0.8);
       -moz-transform: scale(0.8);
       -o-transform: scale(0.8);
       -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
   }
  
  
   .checkbox-circle{
      padding-top: 5%;;
      list-style-type: none;
  }


  .checkbox-circle-sub{
    list-style-type: none;
    display: inline;
  }

  .checkbox-circle-sub li{
    display: inline;
    margin-left: 10px;
    
  }

    
  #checkmark-sub {
    display:inline-block;
    width: 30px;
    height:30px;
    background: white;
    border-radius:50%;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    
}



#checkmark-sub:before{
    content:"";
    position: absolute;
    width:3px;
    height:13px;
    background-color:black;
    left:15px;
    top:8px;
}

#checkmark-sub:after{
    content:"";
    position: absolute;
    width:7px;
    height:3px;
    background-color:black;
    left:10px;
    top:18px;
}

#checkmark-sub:hover{
    background-color: #7386d5;
}





  
  #checkmark {
      display:inline-block;
      width: 30px;
      height:30px;
      border-radius:50%;
      background: white;
      border: 1px solid black;
      -ms-transform: rotate(45deg); /* IE 9 */
      -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
      transform: rotate(45deg);
      
  }
  
  #checkmark:before{
      content:"";
      position: absolute;
      width:3px;
      height:13px;
      background-color:black;
      left:15px;
      top:8px;
  }
  
  #checkmark:after{
      content:"";
      position: absolute;
      width:7px;
      height:3px;
      background-color:black;
      left:10px;
      top:18px;
  }
  
  #checkmark:hover{
      background-color: #7386d5;
  }

  #sub-title{
      padding-bottom: 10%;
  }
  
  
  /* Task Modal */
  
  div.task-progress{
      padding-left: 15%;
      margin-top: 1%;
  }
  
  
  div.task-progress progress{
  
  
  }
  
  div.modal progress::-moz-progress-bar { background: #7386D5;  }
  
  
  /* Modal Task CSS */
  div.modal-body{
      color: #000;
  
  }
  
  div.modal-body label{
      font-size: 20px;
      font-weight: bold;
      text-decoration: underline;
  }
  
  
  div.modal-body p{
      font-size: 20px;
      color: black;
  }
  
  div.subtask-container{
      background:#ededed ;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 5%;
      border: 1px solid black;
  }
  
  .subtask-list{
      padding-top: 5%;
      list-style-type: none;
  }
  
  .subtask-list button{
      margin-right: 5%;
      margin-bottom: 2%;
  }
  

  